*.h5
*.rar
*.csv
*.txt
*.log
*.xls
*.xlsx
*.pickle
*.pyc
*.log
*.wav
!requirements.txt
!train_inds.pickle
!val_inds.pickle
!sample_submission.csv
!test_post_competition.csv
!train.csv
!train_post_competition.csv